@page "/"
@using Blazored.Toast.Configuration
@using Blazored.Toast.Services
@inject NavigationManager NavigationManager
<PageTitle>Home</PageTitle>
@inject IToastService ToastService

<div class="spaces">
    @for (int i = 0; i < _confing?.Rooms.Count; i++)
    {
        var _i = i;
        <button @onclick="(() => ChangeSpace(_i))"
                class="spaces-button @(_i == CurrentSpace ? "spaces-button-active" : "")">
                @(_confing.Rooms[i].Name)
            </button>
    }
    </div>

<div class="controll-bar">

    @for(int i=0 ; i < _confing?.Outputs.Count; i++)
    {
        var _i = i;
        <button id="@($"button-controll-bar{_i}")" data-spaceQ="@(_confing.Outputs[_i].SpaceQ)"
                data-command="@(_confing.Outputs[_i].Madule + "-" +_confing.Outputs[_i].output)"
                @onclick="@(async ()=> await ChangeButtomStutus($"button-controll-bar{_i}",_i))"
            class="seatButton @(_confing.Outputs[_i].Sts == "ON" ? "selected-elem" : "") 
            position @(_confing?.Outputs[_i].SpaceQ == _confing?.Rooms[CurrentSpace].Name ? "show-flex" : "hide") ">
            <div class="logo">

                <i class=" @(_confing.Outputs[i].Imgq == "siren" ? "fa-light fa-siren-on" :"fa-light fa-lightbulb" )"></i>
            </div>
            <p class="detail">@(_confing.Outputs[i].Name)</p>
        </button>
    }
</div>
@* <script>
    function openFullscreen() {
        var elem = document.documentElement;
        console.log("hhhhhhhhhhhhh")
        if (elem.requestFullscreen) {
            elem.requestFullscreen();
        } else if (elem.mozRequestFullScreen) { /* Firefox */
            elem.mozRequestFullScreen();
        } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
            elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) { /* IE/Edge */
            elem.msRequestFullscreen();
        }
    }
</script> *@
<script>
  
    </script>